

services:
  fx-grafana:
    image: grafana/grafana:10.2.3
    container_name: fx-grafana
    ports:
      - "3000:3000"

    environment:
      # Admin credentials
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

      # Provisioning root
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning

      # Anonymous access enabled (SRE-friendly)
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer

      # Default dashboard folder
      - GF_DASHBOARDS_DEFAULT_HOME=/var/lib/grafana/dashboards

    volumes:
      # Provisioning
      - ./provisioning:/etc/grafana/provisioning

      # Dashboards JSON
      - ./dashboards:/var/lib/grafana/dashboards

    networks:
      - fxqual-local-net

networks:
  fxqual-local-net:
    external: true
