version: "3.9"

services:
  grafana:
    image: grafana/grafana:10.2.3
    container_name: fx-grafana
    ports:
      - "3000:3000"
    environment:
      # Default admin credentials
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning

      # Allow anonymous view access (SRE friendly)
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer

      # Show dashboards immediately
      - GF_DASHBOARDS_DEFAULT_HOME=/var/lib/grafana/dashboards

    volumes:
      # Provisioning configurations (datasources + dashboards loader)
      - ./provisioning:/etc/grafana/provisioning

      # Actual dashboards JSON files
      - ./dashboards:/var/lib/grafana/dashboards

    networks:
      - fxqual-local-net

networks:
  fxqual-local-net:
    external: true
