<configuration>
    <springProperty name="LOG_PATTERN"
                    source="logging.pattern.console"
                    defaultValue="%d{HH:mm:ss.SSS} %-5level %logger - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
