

services:
  fx-qual-jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: fx-qual-jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "14268:14268"
    networks:
      - fxqual-local-net

networks:
  fxqual-local-net:
    driver: bridge
