receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  memory_limiter:
    limit_mib: 512
    spike_limit_mib: 128
    check_interval: 5s
  batch:
  tail_sampling:
    decision_wait: 6s
    num_traces: 50000
    expected_new_traces_per_sec: 2000
    policies:
      - name: keep_errors
        type: status_code
        status_code:
          status_codes: [ ERROR ]
      - name: keep_slow_requests
        type: latency
        latency:
          threshold_ms: 500
      - name: important_routes
        type: string_attribute
        string_attribute:
          key: http.target
          values: ["/qualify", "/customer/*", "/fx/risk/check", "/trade/*"]
      - name: vip_customers
        type: string_attribute
        string_attribute:
          key: customer.tier
          values: ["GOLD", "PLATINUM"]
      - name: workflow_spans
        type: string_attribute
        string_attribute:
          key: workflow.type
          values:
            - "fx-qual-workflow"
            - "customer-lookup"
            - "risk-evaluation"
      - name: keep_some_success
        type: probabilistic
        probabilistic:
          sampling_percentage: 10

exporters:
  logging:
    loglevel: info
  prometheus:
    endpoint: "0.0.0.0:9464"
